#ninjaPad {
    position: absolute;
    width: 100%;
}

.dpad {
    position: absolute;
    aspect-ratio: 1;
    left: 4%;
    top: 10vw;
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionButtons {
    position: absolute;
    aspect-ratio: 1;
    right: 4%;
    top: 10vw;
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleButtons {
    position: absolute;
    aspect-ratio: 0.286;
    left: 45%;
    top: 10vw;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid3x3 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.analogRing {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: transparent;
    border: 2.5vw;
    border-style: inset;
}

.analogStick {
    position: absolute;
    width: 60%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #666;
    border: 2.5vw;
    border-style: outset;
}

.button_B {
    position: absolute;
    aspect-ratio: 1;
    left: 0%;
    top: 25%;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: monospace;
}

.button_A {
    position: absolute;
    aspect-ratio: 1;
    right: 0%;
    top: -2.5%;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: monospace;
}

.button_AB {
    position: absolute;
    aspect-ratio: 1;
    right: 0%;
    bottom: -2.5%;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: monospace;
}

.button_SELECT {
    position: absolute;
    left: 0%;
    top: 31%;
    width: 100%;
    height: 16%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.button_START {
    position: absolute;
    left: 0%;
    top: 54%;
    width: 100%;
    height: 16%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.analogSwitchButton {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 16%;
    box-sizing: border-box;
    background-color: #666;
    border: 1vw;
    border-style: outset;
    border-radius: 20%;
}

.loadROMButton {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 16%;
    box-sizing: border-box;
    background-color: #666;
    border: 1vw;
    border-style: outset;
    border-radius: 20%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

[id^="BUTTON"] {
    background: #999;
    border: 1vw;
    border-style: outset;
}

#deadzone {
    background: #444;
}
