.controls {
	position: relative;
	background-color: #222;
	width: 100%;
}

.dpad {
    position: absolute;
    left: 4vw;
    top: 12vw;
	width: 35vw;
	height: 35vw;
	display: flex;
    justify-content: center;
    align-items: center
}

.grid3x3 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.analogStick {
	position: absolute;
	width: 20vw;
	height: 20vw;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: #666;
	border: 2.5vw;
	border-style: outset;
}

.analogRing {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: transparent;
	border: 2.5vw;
	border-style: inset;
}

.button_B {
    position: absolute;
    left: 60vw;
    top: 22vw;
	width: 18vw;
	height: 18vw;
	box-sizing: border-box;
	border-radius: 50%;

	text-align: center;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	font-family: monospace;
}

.button_A {
    position: absolute;
	left: 78vw;
    top: 10vw;
	width: 18vw;
	height: 18vw;
	box-sizing: border-box;
	border-radius: 50%;

	text-align: center;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	font-family: monospace;
}

.button_AB {
    position: absolute;
	left: 78vw;
    top: 30vw;
	width: 18vw;
	height: 18vw;
	box-sizing: border-box;
	border-radius: 50%;

	text-align: center;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	font-family: monospace;
}

.button_SELECT {
    position: absolute;
	left: 45vw;
    top: 22vw;
	width: 10vw;
	padding: 2%;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.button_START {
    position: absolute;
	left: 45vw;
    top: 31vw;
	width: 10vw;
	padding: 2vw;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.analogSwitchButton {
	position: absolute;
	left: 45vw;
    top: 12vw;
	width: 10vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #666;
	border: 1vw;
	border-style: outset;
	border-radius: 20%;
}

.loadROMButton {
    position: absolute;
	left: 45vw;
    top: 41.4vw;
	width: 10vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #666;
	border-style: outset;
	border-radius: 20%;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
}

[id^="BUTTON"] {
	background: #999;
	border: 1vw;
	border-style: outset;
}

#deadzone {
	background: #444;
}
